.btnnm{
   
    margin-top: 15px;
}

.btn1{
    margin-left: 10px;
    background-color: aliceblue ;
    height: 30px;
    
    border-radius: 4px;
    border: 1px solid #3D69FA;
    
}

.headd{
    background-color: navy;
    color: aliceblue;
}

.btn1:hover {
	background-color: blue;
    color: aliceblue;
}


.btnd{
    background-color: white;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #3D69FA;
}

.btnd:hover {
	background-color: red;
    color: aliceblue;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }